<!DOCTYPE html>

<html data-theme="dark">
  <head>
    <title>BenchIT</title>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'front/application' %>

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/tinymce.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/jquery.tinymce.min.js"></script>
    <script type="text/javascript">

      const translations = <%= ui_translations(:front) %>;
    </script>

    <script type="text/javascript">
      I18n = {
        prefix: '<%= I18n.locale == I18n.default_locale ? "" : "#{I18n.locale}/" %>',
        locale: '<%= I18n.locale %>',
        availableLocales: <%= raw(I18n.available_locales.map {|loc| loc.to_s}) %>
      }
      tinymce.init({
            selector: '#tinymce',
            branding: false,
        });

    </script>
  </head>
  <body>
    <div id="app"></div>

    <%= vite_javascript_tag 'front' %>
  </body>
</html>
